// base
$base-background-color: #171717;
$base-text-color: #fff;

$base-background-color-2: #fff;
$base-text-color-2: #171717;

$base-background-color-3: #222;
$base-text-color-3: rgba(255, 255, 255, 0.8);
