////////////////////////
// base colors
////////////////////////
$colors1: #fff;
$colors10: #eee;
$colors2: #ccc;
$colors4: rgba(255, 255, 255, 0.5);
$colors5: #6f6f6f;
$colors3: #333;
$colors7: #ce335f;
$colors11: #fdb6cb;
$colors8: red;
$colors9: rgb(255, 169, 169);
