.search-bar {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: 1.5rem;
  color: #fff;
}

.button-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.text--user-not-found {
  text-align: center;
}
