@import '../../../variables.scss';

.icon-text-button {
  background-color: $colors1;
  color: $colors3;
  display: flex;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-text-button__icon {
  margin: 0.4rem 0.2rem 0.2rem 0.2rem;
}

.icon-text-button__text {
  margin: 0.2rem;
}
