.searched-item {
  display: flex;
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.image-container {
  max-width: 8rem;
  overflow: hidden;
}

.image {
  width: 100%;
  background-color: rgb(230, 230, 230);
  color: grey;
  height: 8rem;
  min-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.searched-item__title {
  font-weight: bold;
  margin: 1rem;
}

.searched-item__author {
  margin: 1rem;
}
