.button {
  background-color: #1f1f79;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}

.button--delete {
  background-color: brown;
}

.button--inactive {
  background-color: rgb(177, 177, 177);
}

.button--twitter {
  background-color: white;
  color: #1da1f2;
  border: #1da1f2;
  border: 1px solid #1da1f2;
}

.button--following {
  background-color: #1da1f2;
}
