@import '../../../variables.scss';

.logout-modal {
  position: fixed;
  background-color: $base-background-color-3;
  color: $base-text-color;
  border-radius: 8px;
  overflow: hidden;
  z-index: 15;
  width: 75%;
  max-width: 20rem;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logout-modal__buttons {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.logout-modal__button {
  width: 50%;
  border-radius: 0;
  background-color: $base-background-color-3;
  color: $base-text-color;
  border-top: 0.1px solid $base-text-color;
  padding: 1rem 0;
}
