.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-nav {
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: rgb(240, 240, 240);
  padding: 0.5rem;
  margin: 0;
}

.nav-item {
  flex-grow: 1;
}

.nav__link {
  text-decoration: none;
}

.nav__icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__icon {
  font-size: 1.2rem;
  color: #666;
}

.nav__text {
  font-size: 0.5rem;
  margin: 0;
  color: #666;
}

.nav__link--active .nav__icon,
.nav__link--active .nav__text {
  color: #1f1f79;
}

@media (min-width: 40rem) {
  .footer {
    display: none;
  }
}
