.user-items {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-item {
  max-width: 32%;
  border-radius: 8px;
}

.user-item__image {
  border-radius: 8px;
}
