@import '../../../variables.scss';

.input {
  border: 1px solid $colors3;
  background-color: $colors1;
  color: $colors3;
  padding: 0.5rem 1rem;
  outline: none;
  margin-bottom: 0.3rem;
  width: 100%;
}
