@import '../../../variables.scss';

.input {
  border: 1px solid $colors3;
  background-color: $colors1;
  color: $colors3;
  padding: 0.5rem 1rem;
  outline: none;
  margin-bottom: 0.3rem;
  width: 100%;
}

.error-message {
  color: $colors8;
  margin: 0;
  text-align: left;
}

.input--invalid {
  border-color: $colors8;
  background-color: $colors9;
}
