.item-card {
  display: flex;
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.image-container {
  max-width: 8rem;
  overflow: hidden;
}

.image {
  width: 100%;
  background-color: rgb(230, 230, 230);
  color: grey;
  height: 8rem;
  min-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card__details {
  flex-grow: 1;
}

.item-card__title {
  font-weight: bold;
  margin: 1rem;
}

.item-card__author {
  margin: 1rem;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
