.form {
  width: 90%;
  margin: 0 auto;
}

.form__label,
.form__input,
.form__button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.3rem;
}

@media (min-width: 40rem) {
  .form {
    width: 60%;
  }
}
